body{
    background-image: url(bg3.jpg);
    background-repeat: no-repeat;
    background-size: 1600px 780px;
}
form{
    border: solid 1px ;
    border-color: black;
    width: 450px;
    height: 430px;
    background-color: rgba(211, 211, 211, 0.959);
    /* padding-left: 1px; */
    margin-top: 140px;
    margin-left: 260px;
    border-radius: 5px;

}
#list {
    border: solid 1px;
    height: 65px;
    background-color: rgba(3, 3, 3, 0.436);
    font-weight: 180px;
}
ul li {
    border: solid 1px ;
    height: 35px;
    width: 120px;
    float: right;
    background-color: rgba(21, 66, 212, 0.436);
    border-radius: 50px;
    text-align: center;
    line-height: 35px;
  }
  ul {
    list-style: none;
  }
  ul li a {
    color: azure;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
  }
  ul li:hover {
    background-color: rgb(154, 100, 172);
  }
h1{
    font-size: 40px;
    text-align: center;
    color: rgb(0, 0, 0);
}
label{
    font-size: 22px;
    font-weight: none;
    margin-left: 130px;
}
input{
    height: 20px;
    margin-bottom: 5px; 
    margin-left: 130px;
}
button{
    margin-top: 30px;
    margin-left: 180px;
    background-color: rgba(153, 50, 204, 0.303);
    border-radius: 20px;
}
p{
    margin-left: 120px;
}
